body {
  background-color: #0f172a;
  color: #e2e8f0;
  margin: 0;
}

header {
  background-color: #1e293b;
  padding: 15px;
}

nav {
  display: flex;
  gap: 15px;
}

nav a {
  color: #e2e8f0;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 15px;
  transition: 0.3s ease;
}

nav a:hover {
  background-color: #38bdf8;
  color: #0f172a;
}

main {
  padding: 20px;
}

h1 {
  font-size: 36px;
  margin-bottom: 15px;
}

h2 {
  margin-top: 25px;
}

p {
  color: #94a3b8;
  line-height: 1.6;
}

.paragraph {
  background-color: #1e293b;
  padding: 15px;
  margin-top: 15px;
  border-left: 4px solid #38bdf8;
}

a {
  transition: 1s;
}

main a {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 15px;
  background-color: #38bdf8;
  color: #0f172a;
  text-decoration: none;
  border-radius: 5px;
}

main a:hover {
  background-color: #0ea5e9;
}

footer {
  background-color: #1e293b;
  text-align: center;
  padding: 15px;
  margin-top: 30px;
}
